@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    font-family: "Roboto";
    color: white;
    transition: all 300ms ease;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #41295a;
    background-image: url(./assets/abstractbg.jpg);
    background-size: 100% 100%;
    width: auto;
    margin: 0 auto;
}

.blue {
    color: rgb(93, 78, 226);
}

.dark-theme {
    background-color: black;
    background-image: none;

}

.dark-theme .btn {
    background-color: rgb(37, 26, 100);
}

.dark-theme * {
    color:white;
}

.container {
    padding: 40px 0;
    display: flex;
    margin: 0 auto;
}

.row {
    width: 100%;
    margin: 0 auto;
}

#hero,
#about,
#skills,
#projects {
    animation: fadeUp 1.5s ease-out;
}

/* ANIMATIONS */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1180px;
    height: 100px;
}

.nav__logo--img {
    height: 70px;
    width: 70px;
}

.nav__link--list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    font-size: 22px;
    padding-top: 4px;
    font-weight: 600;
    margin: 0 24px;
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #5d3eff;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}

a {
    text-decoration: none;
    color: lightgray;
    transition: opacity 300ms ease;
}

a:hover {
    color: #5d3eff;
}

li {
    list-style-type: none;
}

.toggle__mode {
    border: none;
    transition: all 300ms ease;
}

.toggle__mode:hover {
    cursor: pointer;
}

/* HERO */

.hero__title {
    border-radius: 20px;
    font-size: 22px;
    padding: 6px;
    margin-bottom: 16px;
    margin-right: 18px;
    border: 2px solid rgb(78, 18, 102);
    background-color: rgb(37, 26, 100);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fa-solid {
    font-size: 34px;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__row {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 4px;
    padding-right: 60px;
    padding-left: 90px;
}

.hero__intro {
    font-size: 72px;
    margin: 0 auto;
}

.hero__subtitle {
    font-size: 36px;
    margin: 0 auto;
}

.hero__para {
    font-size: 20px;
    color: rgb(206, 201, 201);
    margin-top: 24px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

.btn {
    background-color: rgb(1, 2, 8);
    font-size: 18px;
    padding: 8px 18px;
    margin-top: 20px;
    border-radius: 10px;
    margin-right: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: rgb(93, 78, 226);
    cursor: pointer;
    transform: scale(1.05);
}

.social__links {
    margin-top: 18px;
    display: flex;
    flex-direction: flex-start;
}

.social__link {
    font-size: 30px;
    color: black;
    text-decoration: none;
    padding: 18px;
}

.profile__img--container {

}

.profile__pic {
    height: 450px;
    width: 450px;
    border-radius: 20px;
    margin-right: 80px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ABOUT ME */

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.about__summary {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 8px;
    padding-right: 50px;
    padding-left: 50px;
    border: 2px solid rgb(78, 18, 102);
    border-radius: 10px;
    background-color: rgb(37, 26, 100);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about__me--title {
    font-size: 36px;
    margin: 0 auto;
}

.about__me--para {
    font-size: 18px;
    color: rgb(206, 201, 201);
    margin-top: 20px;
    margin-bottom: 12px;
    width: 100%;
    max-width: 760px;
}

.info__container {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    padding-bottom: 32px;
    width: 100%;
    max-width: 400px;
    border: 2px solid rgb(78, 18, 102);
    border-radius: 10px;
    background-color: rgb(37, 26, 100);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info__container--row {
    width: 100%;
    padding-left: 30px;
    padding-top: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info__details {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.info__title {
    display: flex;
    font-size: 22px;
    color: rgb(93, 78, 226);
    margin-bottom: 2px;
}

.info__para {
    font-size: 16px;
    color: rgb(206, 201, 201);
    margin-top: 4px;
    line-height: 1px;
}

/* SKILLS */

.skills__row {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 24px;
    padding-right: 50px;
    padding-left: 50px;
    border: 2px solid rgb(78, 18, 102);
    border-radius: 10px;
    background-color: rgb(37, 26, 100);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skills__title {
    font-size: 36px;
}

.technology__title {
    line-height: 1px;
    color: rgb(206, 201, 201);
}

.language__list {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 18px;
}

.language {
    width: 20%;
    display: flex;
    position: relative;
    justify-content: center;
}

.language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.language__img {
    width: 134px;
    height: 140px;
}

.language__img2 {
    width: 122px;
    height: 126px;
}

.language__img3 {
    width: 150px;
    height: 156px;
}

.language__img4 {
    width: 160px;
    height: 142px;
}

.language__name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
    font-size: 20px;
    opacity: 0;
}

.language:hover .language__name {
    transform: scale(1);
    opacity: 1;
}

.language:hover .language__img {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.language:hover .language__img2 {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.language:hover .language__img3 {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.language:hover .language__img4 {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

/* PROJECTS */

.projects__container {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 40px;
    padding-right: 50px;
    padding-left: 50px;
    border: 2px solid rgb(78, 18, 102);
    border-radius: 10px;
    background-color: rgb(37, 26, 100);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project__header {
    display: flex;
    justify-content: space-between;
}

.project__title {
    font-size: 36px;
    display: flex;
    justify-content: flex-start;
    margin-top: 2px;
    margin-bottom: 2px;
}

.feature__project--title {
    line-height: 1px;
    color: rgb(206, 201, 201);
}

.projects__btn {
    background-color: rgb(1, 2, 8);
    font-size: 18px;
    padding: 8px 18px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.projects__btn:hover {
    background-color: rgb(93, 78, 226);
    cursor: pointer;
    transform: scale(1.05);
}

.project__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.project__container {
    width: 280px;
    height: auto;
    margin-top: 28px;
    padding: 14px;
    background-color: rgb(206, 201, 201);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 300ms ease;
}

.project__container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    transform: scale(1.05);
}

.project__img--wrapper {
    margin: 0 auto;
    height: 210px;
    width: 280px;
}

.project__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project__name {
    line-height: 1px;
    color: black;
}

.project__para {
    font-size: 16px;
    color: black;
}

/* CONTACT */

.contact__container {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 24px;
    padding-right: 50px;
    padding-left: 50px;
    border: 2px solid rgb(78, 18, 102);
    border-radius: 10px;
    background-color: rgb(37, 26, 100);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
}

.contact__info--container {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.contact__header {
    font-size: 36px;
}

.contact__sub-title {
    color: rgb(206, 201, 201);
}

.contact__para {
    font-size: 18px;
    color: rgb(206, 201, 201);
    margin-top: 20px;
    margin-bottom: 12px;
    width: 90%;
}

.form__container {
    width: 500px;
    margin: 0 auto;
    padding-top: 16px;
}

label {
    font-size: 22px;
}

input {
    border: 1px solid rgb(139, 36, 165);
    border-radius: 5px;
    font-size: 18px;
    color: black;
    height: 28px;
    max-width: 800px;
    width: 100%;
    background-color: rgb(196, 192, 192);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

textarea {
    border: 1px solid rgb(139, 36, 165);
    border-radius: 10px;
    font-size: 18px;
    color: black;
    height: 130px;
    max-width: 800px;
    width: 100%;
    background-color: rgb(196, 192, 192);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact__btn {
    background-color: rgb(1, 2, 8);
    font-size: 18px;
    padding: 8px 18px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact__btn:hover {
    background-color: rgb(93, 78, 226);
    cursor: pointer;
    transform: scale(1.05);
}

/* FOOTER */

.footer__container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
}

.footer__links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    margin: 28px 0;
}

.footer__link {
    font-size: 20px;
}

.footer__copyright {
    font-size: 16px;
    color: rgb(206, 201, 201);
}



